@import "~assets/scss/mixins";

.card {
  width: 260px;
  height: 260px;
  border-radius: 10px;
  padding: 20px 20px 0 20px;
  box-shadow:  6px 6px 12px $dark-shadow-color,
  -6px -6px 12px $light-shadow-color;
  display: flex;
  flex-direction: column;
  @include inset-neumorphism-shadow;

  app-bars {
    flex: 1;
  }

  .title {
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &:hover {
    cursor: pointer;
  }
}
