<div class="content">
  <div class="title-container">
    <h2 class="title">Visual Algorithms</h2>
    <label class="subtitle">By Alex Khoury</label>
    <p class="version">v.0.0.1</p>
  </div>
  <div class="menu">
    <app-sorting-menu-item></app-sorting-menu-item>
    <app-sorting-menu-item></app-sorting-menu-item>
    <app-sorting-menu-item></app-sorting-menu-item>
    <app-sorting-menu-item></app-sorting-menu-item>
    <app-sorting-menu-item></app-sorting-menu-item>
    <app-sorting-menu-item></app-sorting-menu-item>
  </div>
</div>
