<div class="content">
  <div class="header">
    <h2>Quick Sort Algorithm</h2>
    <div class="actions">
      <label>Array Size ({{arrayLength}})</label>
      <mat-slider class="length-select" min="3" max="256" step="1" [(value)]="arrayLength" thumbLabel="true"
                  (valueChange)="updateArrayLength($event)" [disabled]="sorting" color="primary"></mat-slider>
      <label>Animation Speed</label>
      <app-speed-selector (valueChanged)="speedChange($event)"></app-speed-selector>
      <mat-icon (click)="pauseSorting()" [ngClass]="{'disabled': paused || !sorting}" class="pause-button">pause</mat-icon>
      <mat-icon (click)="startSorting()" [ngClass]="{'disabled': sorting && !paused}" class="sort-button">play_arrow
      </mat-icon>
    </div>
  </div>
  <app-bars [bars]="bars" width="100" height="90"></app-bars>
</div>
